img {
  max-width: 200px;
  max-height: 200px;
}

.gorilla {
  display: none;
}

.monkey {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}
